* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

nav {
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    background-color: #fff;
    padding: 0 80px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    /* flexbox */
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    color: #00b894;
    text-decoration: none;
    font-weight: 600;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-link {
    text-decoration: none;
    color: #2d3436;
    font-size: 16px;
}

#nav-active {
    border-bottom: 3px #00b894 solid;
    color: #00b894;
}